<a href="https://colab.research.google.com/github/vicentcamison/idal_ia3/blob/main/5%20Procesado%20del%20lenguaje%20natural/Sesion%201/NLP_01_Uso_de_texto_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Uso de texto en Python
Declaraci√≥n de variables de tipo `string`

In [ ]:
texto = "Texto 'normal' en Python"

In [ ]:
type(texto)

str

In [ ]:
len(texto)

24

Los objetos de tipo `string` son elementos iterables compuestos por sus caracteres:

In [ ]:
for t in texto:
    print(t)

T
e
x
t
o

'
n
o
r
m
a
l
'

e
n

P
y
t
h
o
n

In [ ]:
#podemos indexar cada elemento (caracter) del texto
texto[0:5]

'Texto'

In [ ]:
#los iterables tambi√©n se recorren como list comprehension:
lista = [t for t in texto]
print(lista)

['T', 'e', 'x', 't', 'o', ' ', "'", 'n', 'o', 'r', 'm', 'a', 'l', "'", ' ', 'e', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']

*Nota:* Las list comprenhension se ven en detalle al final del notebook.

In [ ]:
type(lista)

list

### Ejercicio
¬øDe qu√© tipo es cada elemento de la lista anterior?

In [ ]:
type(lista[0])

str

### Caracteres unicode en Python
Todos los objetos `string` aceptan caracteres unicode.

In [ ]:
#caracteres unicode
texto2 = "√°√®√ØüòÄüõµ"

In [ ]:
[t for t in texto2]

['√°', '√®', '√Ø', 'üòÄ', 'üõµ']

Texto en otros alfabetos (http://xahlee.info/comp/unicode_index.html)

In [ ]:
#chino
texto3 = "ÊûóËä±Ë¨ù‰∫ÜÊò•Á¥Ö Â§™ÂåÜÂåÜ"
[t for t in texto3]

['Êûó', 'Ëä±', 'Ë¨ù', '‰∫Ü', 'Êò•', 'Á¥Ö', ' ', 'Â§™', 'ÂåÜ', 'ÂåÜ']

In [ ]:
#cir√≠lico:
texto4 = "–ë–±–≤–ì–≥–î–¥—≠"
[t for t in texto4]

['–ë', '–±', '–≤', '–ì', '–≥', '–î', '–¥', '—≠']

In [ ]:
#griego:
texto5 = "Œ±Œ≤Œ≥Œ¥Œµ"
[t for t in texto5]

['Œ±', 'Œ≤', 'Œ≥', 'Œ¥', 'Œµ']

## M√©todos sobre strings
M√©todos que devuelven `string`/lista de `string`:
- `lower`
- `upper`
- `tittle`
- `len`

In [ ]:
"texto".upper()

'TEXTO'

In [ ]:
texto.title()

"Texto 'Normal' En Python"

In [ ]:
"la casa, azul".title()
#La funci√≥n title trata al texto como si se tratara de un t√≠tulo,
# capitailizando todas las letras iniciales

'La Casa, Azul'

Lo podemos aplicar a los elementos *str* de una lista mediante una *list comprenhension*

In [ ]:
#creamos una lista de las palabras de nuestro texto
lista2 = texto.split(" ")
lista2

['Texto', "'normal'", 'en', 'Python']

In [ ]:
#tambi√©n podemos convertir una lista en string
','.join(lista2)

"Texto,'normal',en,Python"

In [ ]:
'e'.join(lista2)

"Textoe'normal'eenePython"

In [ ]:
'mmm'.join(lista2)

"Textommm'normal'mmmenmmmPython"

In [ ]:
#aplicamos m√©todo a cada elemento de la lista
[c.upper() for c in lista2]

['TEXTO', "'NORMAL'", 'EN', 'PYTHON']

M√©todos de comparaci√≥n:  
`s.startswith(t)
s.endswith(t)
t in s
s.isupper(); s.islower(); s.istitle()
s.isalpha(); s.isdigit(); s.isalnum()`

In [ ]:
'Texto'.startswith('t')

False

In [ ]:
'Texto'.startswith('T')

True

In [ ]:
'ex' in texto

True

In [ ]:
'Texto'.istitle()

True

In [ ]:
'TexTo'.istitle()

False

Podemos combinar las funciones de comparaci√≥n con las list comprehension

In [ ]:
#palabras que empiezan en may√∫scula
[w for w in lista2 if w.istitle()]

['Texto', 'Python']

### Ejercicio

In [ ]:
#palabras terminadas en `n`
[w for w in lista2 if w.endswith('n')]

['en', 'Python']

## Uso de texto en Pandas
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [ ]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.2'

In [ ]:
pd.Series(lista2)

0       Texto
1    'normal'
2          en
3      Python
dtype: object

Hay que especificar a pandas que el dataframe contiene todo strings.

La diferencia en la forma de funcionar de los elementos de un dataframe objeto a string est√° en **c√≥mo se gestionan los nans en string**

In [ ]:
pd.Series(lista2, dtype="string") #string es un nuevo dtype de Pandas 1.0

0       Texto
1    'normal'
2          en
3      Python
dtype: string

Los m√©todos string en pandas utilizan .str. antes de escribir el m√©todo. Es decir, para comprobar la longitu de los strings dentro de un dataframe, no se hace con la funci√≥n df.len() sino con df.**str**.len()

In [ ]:
#podemos usar los m√©todos de str sobre los elementos del array
s = pd.Series(
     ["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"],
     dtype="string"
 )
s

0       A
1       B
2       C
3    Aaba
4    Baca
5    <NA>
6    CABA
7     dog
8     cat
dtype: string

In [ ]:
s.str.len()

0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64

In [ ]:
#convertir serie s en may√∫sculas
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string

Dividir, expandir, reemplazar, o concatenar texto (extraer lo veremos con RegEx)

In [ ]:
#split devuelve una Serie de listas
s2 = pd.Series(["a_b_c", "c_d_e", np.nan, "f_g_h_k"], dtype="string")
s2.str.split("_")

0       [a, b, c]
1       [c, d, e]
2            <NA>
3    [f, g, h, k]
dtype: object

In [ ]:
#podemos acceder a los elementos de la lista con get o []
s2.str.split("_").str.get(1)

0       b
1       d
2    <NA>
3       g
dtype: object

In [ ]:
s2.str.split("_").str[2]

0       c
1       e
2    <NA>
3       h
dtype: object

Expandir un string dentro de un dataframe va a aumentar las dimensiones del dataframe. El tama√±o de la nueva dimensi√≥n del dataframe ser√° igual al string mayor expandido (en este ejemplo, la fila 3). Los elementos que se quedan vac√≠os se rellenan con nan

In [ ]:
#podemos expandir la lista a un dataframe
s2.str.split("_", expand=True)

      0     1     2     3
0     a     b     c  <NA>
1     c     d     e  <NA>
2  <NA>  <NA>  <NA>  <NA>
3     f     g     h     k

In [ ]:
s3 = pd.Series(
     ["A", "B", "C", "Aaba", "Baca", "", np.nan, "CABA", "dog", "cat"],
     dtype="string",
 )
s3

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [ ]:
#reemplazar texto (elemento a elemento)
s3.str.replace("a", "X", case=True)

0       A
1       B
2       C
3    AXbX
4    BXcX
5
6    <NA>
7    CABA
8     dog
9     cXt
dtype: string

In [ ]:
s = pd.Series(["a", "b", "c", "d"], dtype="string")
s

0    a
1    b
2    c
3    d
dtype: string

In [ ]:
#concatenar texto (elementos de una Serie)
s.str.cat(sep=",")

'a,b,c,d'

Al concatenar los strings de una serie de pandas no obtengo un objeto de pandas, sino que ya obtengo directamente un **string**

In [ ]:
type(s.str.cat(sep=","))

str

In [ ]:
#podemos concatenar los elementos de una Serie con otra de igual longitud
s.str.cat(["A", "B", "C", "D"])

0    aA
1    bB
2    cC
3    dD
dtype: string

Funciones de comparaci√≥n: comprobar si un elemento contiene o empieza por un patr√≥n

In [ ]:
s3

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [ ]:
s3.str.match("A") #comienza por el patr√≥n

0     True
1    False
2    False
3     True
4    False
5    False
6     <NA>
7    False
8    False
9    False
dtype: boolean

In [ ]:
pd.concat([s3, s3.str.startswith("A")], axis=1) #comienza por patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba   True
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA  False
8   dog  False
9   cat  False

In [ ]:
pd.concat([s3, s3.str.contains("A")], axis=1) #contiene el patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba   True
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA   True
8   dog  False
9   cat  False

In [ ]:
pd.concat([s3, s3.str.fullmatch("A")], axis=1) #es igual al patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba  False
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA  False
8   dog  False
9   cat  False

El listado completo de m√©todos para *strings* est√° en https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#method-summary

## Generator comprenhension y List comprenhension

In [ ]:
#la funci√≥n range es un caso especial de generator
x=range(10)

In [ ]:
x

range(0, 10)

In [ ]:
#los generadores son iterables
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#generator comprenhension
gen = (i**2 for i in range(10))
gen

Los `generator` se pueden recorrer con un bucle `for` pero tambi√©n con la funci√≥n `next()`.

In [ ]:
next(gen)

0

Los `generator` se consumen al iterar sobre ellos, por lo que no es posible volver a generar el mismo miembro. En el siguiente bucle se comienza por el 2¬∫ elemento

In [ ]:
for i in gen:
    print(i)

1
4
9
16
25
36
49
64
81

In [ ]:
import sys
sys.getsizeof(gen)

112

Podemos volcar los contenidos de un iterador (o generador) a una lista, que s√≠ ocupa memoria por cada uno de sus elementos.

In [ ]:
gen = (i**2 for i in range(10))
lista_gen = list(gen)

In [ ]:
lista_gen

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sys.getsizeof(gen)

112

In [ ]:
sys.getsizeof(lista_gen)

152

In [ ]:
#lo anterior equivale a un list comprenhension de los mismos valores
lista = [i**2 for i in range(10)]

In [ ]:
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#una lista no la puedo tratar como un iterador: no implementa el m√©todo next()
next(lista)

TypeError: 'list' object is not an iterator

In [ ]:
#un iterator es un objeto iterable que implementa el m√©todo next()
gen_lista = iter(lista)

In [ ]:
gen_lista

In [ ]:
next(gen_lista)

0

In [ ]:
next(gen_lista)

1

In [ ]:
for i in gen_lista:
    print(i)

4
9
16
25
36
49
64
81

In [ ]:
sys.getsizeof(gen_lista)

48

In [ ]:
#tambi√©n podemos generar tuplas con los generadores
gen = ((i, i**2) for i in range(10))

In [ ]:
sys.getsizeof(gen)

112

In [ ]:
for i in gen:
    print(i)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)

In [ ]:
for i,j in ((i, i**2) for i in range(10)):
    print(f"El cuadrado de {i} es {j}")

El cuadrado de 0 es 0
El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81

### Enumerating iterables
The built-in enumerate function allows us to iterate over an iterable, while keeping track of the iteration count.

Es decir, es una 'extensi√≥n' de iter. **Iter()** simplemente me ofrece el output del iterador, mientras que **enumerate()** me ofrece tambi√©n el √≠ndice del elemento iterado

In [ ]:
enumerate(lista)

In [ ]:
for i,j in enumerate(lista2):
    print(i,j)

0 Texto
1 'normal'
2 en
3 Python

In [ ]:
for (i, p) in enumerate("Esta es una frase".split(' ')):
    print(f"Palabra {i}: {p}")

Palabra 0: Esta
Palabra 1: es
Palabra 2: una
Palabra 3: frase

Podemos usar una expresi√≥n `if-else` dentro de la *comprenhension*

In [ ]:
['impar' if i%2 else 'par' for i in range(10)]

['par',
 'impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 'impar']

In [ ]:
#devolviendo una tupla con (valor, par/impar)
[(i,'impar' if i%2 else 'par') for i in range(10)]

[(0, 'par'),
 (1, 'impar'),
 (2, 'par'),
 (3, 'impar'),
 (4, 'par'),
 (5, 'impar'),
 (6, 'par'),
 (7, 'impar'),
 (8, 'par'),
 (9, 'impar')]

In [ ]:
#podemos combinar con funciones sobre str
[c.upper() if len(c)>3 else c for c in lista2 if c.endswith('n')]

['en', 'PYTHON']

In [ ]:
#tambi√©n lo podemos hacer sobre un generador
gen = (c.upper() if len(c)>3 else c for c in lista2 if c.endswith('n'))

In [ ]:
gen

In [ ]:
for i in gen:
    print(i)

en
PYTHON