<a href="https://colab.research.google.com/github/vicentcamison/idal_ia3/blob/main/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Cargado de datos

In [25]:
dist_cepii = pd.read_stata('https://github.com/vicentcamison/ICC-Data-Hackathon-2021/blob/main/Refugee%20Crisis/dist_cepii.dta?raw=true')
fatalities = pd.read_csv('https://raw.githubusercontent.com/vicentcamison/ICC-Data-Hackathon-2021/main/Refugee%20Crisis/fatalities.csv')
forcibly_displaced = pd.read_csv('https://raw.githubusercontent.com/vicentcamison/ICC-Data-Hackathon-2021/main/Refugee%20Crisis/forciby_displaced.csv', encoding='ISO-8859-1')
geo_cepii = pd.read_stata('https://github.com/vicentcamison/ICC-Data-Hackathon-2021/blob/main/Refugee%20Crisis/geo_cepii.dta?raw=true')
terrain_info = pd.read_csv('https://raw.githubusercontent.com/vicentcamison/ICC-Data-Hackathon-2021/main/Refugee%20Crisis/terrain_info.csv', encoding='ISO-8859-1')

In [26]:
forcibly_displaced

        Unnamed: 0  Year CountryOriginCode  ...       REF       IDP  ASY
0                1  1951               UKN  ...  180000.0       0.0    0
1                2  1951               UKN  ...  282000.0       0.0    0
2                3  1951               UKN  ...   55000.0       0.0    0
3                4  1951               UKN  ...  168511.0       0.0    0
4                5  1951               UKN  ...    2000.0       0.0    0
...            ...   ...               ...  ...       ...       ...  ...
103297      103298  2019               ZWE  ...      19.0       0.0    5
103298      103299  2019               ZWE  ...      13.0       0.0    5
103299      103300  2019               ZWE  ...       0.0       0.0    9
103300      103301  2019               ZWE  ...     825.0       0.0  867
103301      103302  2019               ZWE  ...       0.0  270000.0    0

[103302 rows x 9 columns]

In [27]:
# Hay muchos NAN, hay que limpiarlos
forcibly_displaced_grouped = forcibly_displaced.dropna()
forcibly_displaced_grouped = forcibly_displaced_grouped.drop(['CountryOriginName', 'CountryAsylumName', 'CountryAsylumCode'], axis=1)
forcibly_displaced_grouped = forcibly_displaced_grouped.groupby(['CountryOriginCode', 'Year'])
forcibly_displaced_grouped = forcibly_displaced_grouped.sum()
forcibly_displaced_grouped = forcibly_displaced_grouped.drop(['Unnamed: 0'], axis=1)

In [28]:
forcibly_displaced_grouped

                              REF       IDP    ASY
CountryOriginCode Year
AFG               1980  1434921.0       0.0      0
                  1981  3879984.0       0.0      0
                  1982  4488214.0       0.0      0
                  1983  4712735.0       0.0      0
                  1984  4417651.0       0.0      0
...                           ...       ...    ...
ZWE               2015    21332.0       0.0  57376
                  2016    18141.0       0.0  43191
                  2017    17420.0       0.0  21760
                  2018    15618.0       0.0  17121
                  2019    10603.0  270000.0   3352

[6266 rows x 3 columns]

In [29]:
countries = forcibly_displaced.loc[:, 'CountryOriginCode'].unique()
countries

array(['UKN', 'AGO', 'GHA', 'RWA', 'GNB', 'SDN', 'ALB', 'ARM', 'CHN',
       'COD', 'MOZ', 'RUS', 'VNM', nan, 'BDI', 'COG', 'GRC', 'HUN', 'CPV',
       'MWI', 'NAM', 'ZAF', 'ETH', 'IRQ', 'NGA', 'SYR', 'ZMB', 'BGR',
       'CUB', 'SRB', 'BOL', 'TCD', 'CZE', 'POL', 'ROU', 'ESP', 'BRA',
       'KHM', 'GIN', 'IND', 'LSO', 'MMR', 'TUR', 'UGA', 'CHL', 'GNQ',
       'HTI', 'PAK', 'TZA', 'URY', 'KEN', 'LAO', 'SOM', 'ESH', 'ZWE',
       'BEN', 'PSE', 'CYP', 'PHL', 'EGY', 'DOM', 'IDN', 'NIC', 'YEM',
       'AFG', 'ERI', 'ARG', 'GTM', 'IRN', 'LBY', 'SLV', 'STA', 'DZA',
       'COL', 'CAF', 'LBN', 'TUN', 'BFA', 'JOR', 'LKA', 'STP', 'TGO',
       'HND', 'BGD', 'GRD', 'ISR', 'LBR', 'MAR', 'PAN', 'PER', 'SEN',
       'SYC', 'SGP', 'SLE', 'BWA', 'CMR', 'COM', 'MRT', 'SUR', 'BHR',
       'DJI', 'ECU', 'GMB', 'KWT', 'LTU', 'PRY', 'THA', 'BTN', 'CAN',
       'DEU', 'CIV', 'KOR', 'MLI', 'MYS', 'USA', 'AZE', 'BIH', 'CRI',
       'EST', 'GUF', 'FJI', 'GAB', 'HRV', 'LVA', 'NER', 'TJK', 'UKR',
       'VEN', 'GEO', 'JAM', 'MKD', 'MDA', 'SAU', 'SVN', 'AUT', 'BRB',
       'BLR', 'BLZ', 'DNK', 'FRA', 'GBR', 'GUY', 'HKG', 'IRL', 'ITA',
       'JPN', 'KAZ', 'KGZ', 'MEX', 'MLT', 'NPL', 'NLD', 'OMN', 'PRT',
       'PRI', 'QAT', 'SVK', 'SWZ', 'SWE', 'CHE', 'TKM', 'TTO', 'UZB',
       'VCT', 'BEL', 'BRN', 'MDG', 'MUS', 'PNG', 'SLB', 'TUV', 'ISL',
       'PRK', 'MNG', 'TON', 'FIN', 'LCA', 'SMR', 'ARE', 'NRU', 'TLS',
       'ATG', 'AUS', 'BHS', 'DMA', 'MAC', 'KNA', 'AND', 'NZL', 'WSM',
       'FSM', 'GIB', 'NOR', 'TCA', 'KIR', 'MDV', 'BMU', 'NCL', 'MCO',
       'MNE', 'VAT', 'NIU', 'SSD', 'CYM', 'CUW', 'MHL', 'PLW', 'GLP',
       'VUT', 'LUX', 'LIE'], dtype=object)

In [ ]:
len(countries)

211

### Fatalities
Veamos el comportamiento de estos datos. Â¿Pueden ofrecer informaciÃ³n relevante?

In [31]:
fatalities

      Unnamed: 0  year iso_o       Country  Fatalities_acled
0              1  1997   AGO        Angola              5262
1              2  1997   BDI       Burundi              4142
2              3  1997   BEN         Benin                 0
3              4  1997   BFA  Burkina Faso                 0
4              5  1997   BWA      Botswana                 0
...          ...   ...   ...           ...               ...
1513        1514  2020   VNM      Viet Nam                 4
1514        1515  2020   YEM         Yemen              6758
1515        1516  2020   ZAF  South Africa                49
1516        1517  2020   ZMB        Zambia                23
1517        1518  2020   ZWE      Zimbabwe                 3

[1518 rows x 5 columns]

## TAREA 1: Juntar la informaciÃ³n de terrain_info y geo_cepii, y aunarlos por el paÃ­s

de aquÃ­ obenemos los dataframes **geo_cepii_clean** y **terrain_info_clean**. Ãšnicamente faltarÃ­a normalizarlos y aunarlos para poder usarlos como fuente de informaciÃ³n adicional en unas capas densas

### geo_cepii

In [ ]:
geo_cepii.head(1)

#El tratamiento que se va a hacer es el siguiente:
# La limpieza de los datos va a estar determinada por la relativa simplicidad de ser capaz de incorporarlos a un modelo relativamente sencillo,
# como complemento al resto de variables.
# Cosas que se ven a simple vista cuyo impacto va a ser relativamente pequeÃ±o (y que requieran de un tratamiento mayor para llevar a cabo satisfactoriamente), serÃ¡n eliminados
# [iso2], [cnum], [country], [pays] : todos hacen referencia a los paÃ­ses. Esta referencia pasarÃ¡ a ser el Ã­ndice en el megadataframe (nos quedamos pr ahora con [iso3] que es el comÃºn en el resto de df)
# [city_en], [city_fr] ofrece informaciÃ³n con la que no se puede hacer nada con estos datos (el nombre de la capital)
# [citynum] habla de que su uso es interesante en secciones posteriores, pero no hay secciones posteriores
# [langoff2], [langoff3] poco relevantes: hay que hilar muy fino para encontrar el uso, y hay que lidiar con el problema de los NaN PERO PUEDE SER UN PUNTO INTERESANTE AL QUE VOLVER
# [TODAS LAS SIGUIENTES] eliminadas porque tirnen muchos NaN y la info es de poca importancia

#TRATAMIENTO ADICIONAL
# [langoff_1] y [lang20_1] se van a eliminar en un primer pase porque requieren de algÃºn tratamiento especial para ser prÃ¡cticas (dummificarlo quizÃ¡s es demasiado aparatoso para el modelo, y embedding lleva tiempo)
# sin embargo PUEDE SER UN PUNTO INTERESANTE AL QUE VOLVER

  iso2 iso3  cnum  ... short_colonizer1 short_colonizer2  short_colonizer3
0   AD  AND    20  ...

[1 rows x 34 columns]

In [ ]:
print(len(geo_cepii.loc[:,'iso3'].unique()), len(geo_cepii.loc[:,'iso3']))

225 238

In [ ]:
geo_cepii.head(50)

   iso2 iso3  cnum  ... short_colonizer1 short_colonizer2  short_colonizer3
0    AD  AND    20  ...
1    AE  ARE   784  ...
2    AF  AFG     4  ...              GBR
3    AG  ATG    28  ...
4    AI  AIA   660  ...
5    AL  ALB     8  ...
6    AM  ARM    51  ...
7    AN  ANT   530  ...
8    AO  AGO    24  ...
9    AR  ARG    32  ...
10   AT  AUT    40  ...              DEU
11   AU  AUS    36  ...
12   AU  AUS    36  ...
13   AW  ABW   533  ...
14   AZ  AZE    31  ...              TUR
15   BA  BIH    70  ...              YUG              HUN
16   BB  BRB    52  ...
17   BD  BGD    50  ...
18   BE  BEL    58  ...              NLD
19   BF  BFA   854  ...
20   BG  BGR   100  ...
21   BH  BHR    48  ...
22   BI  BDI   108  ...
23   BJ  BEN   204  ...
24   BJ  BEN   204  ...
25   BM  BMU    60  ...
26   BN  BRN    96  ...
27   BO  BOL    68  ...
28   BO  BOL    68  ...
29   BR  BRA    76  ...
30   BR  BRA    76  ...
31   BS  BHS    44  ...
32   BT  BTN    64  ...              GBR              IND
33   BW  BWA    72  ...
34   BY  BLR   112  ...
35   BZ  BLZ    84  ...
36   CA  CAN   124  ...
37   CA  CAN   124  ...
38   CC  CCK   166  ...
39   CF  CAF   140  ...
40   CG  COG   178  ...
41   CH  CHE   757  ...
42   CI  CIV   384  ...
43   CI  CIV   384  ...
44   CK  COK   184  ...
45   CL  CHL   152  ...
46   CM  CMR   120  ...
47   CN  CHN   156  ...
48   CO  COL   170  ...
49   CR  CRI   188  ...

[50 rows x 34 columns]

In [ ]:
geo_cepii_clean = geo_cepii.drop(['iso2', 'cnum', 'country', 'pays', 'city_en', 'city_fr', 'citynum', 'langoff_2', 'langoff_3', 'lang20_1', 'lang20_2', 'lang20_3', 'lang20_4', 'lang9_1', 'lang9_2', 'lang9_3', 'lang9_4', 'colonizer1', 'colonizer2', 'colonizer3', 'colonizer4', 'short_colonizer1', 'short_colonizer2', 'short_colonizer3'], axis=1)
geo_cepii_clean.head(5)

  iso3    area     dis_int  landlocked  ...        lon  cap  maincity  langoff_1
0  AND     453    8.005398         0.0  ...   1.500000    1         1    Catalan
1  ARE   83657  108.788994         0.0  ...  54.416668    1         1     Arabic
2  AFG  652225  303.761353         1.0  ...  69.199997    1         1    Persian
3  ATG     442    7.907605         0.0  ... -61.833332    1         1    English
4  AIA     102    3.798690         0.0  ... -63.066666    1         1    English

[5 rows x 10 columns]

In [ ]:
geo_cepii_clean.isna().sum().sum()
# Con esta cantidad de datos en el df, tambiÃ©n nos hemos cargado todos los NaN pero, Â¿quedan elementos vacÃ­os?

0

In [ ]:
np.logical_and((geo_cepii_clean == '').values, (geo_cepii_clean == None).values).sum().sum()
# Tampoco hay elementos vacÃ­os: el dataframe estÃ¡ definido al 100%

0

In [ ]:
#Trabajemos ahora por preparar los datos para funcionar:
# Â¿CuÃ¡ntas lenguas distintas hay?
geo_cepii_clean.langoff_1.unique().shape[0]
# Hay 69 lenguas distintas: demasiadas para dummificar. Quitaremos tambiÃ©n esa columna
geo_cepii_clean.drop('langoff_1', axis=1, inplace=True)

#Hacemos los dummies del continente
#geo_cepii_clean = pd.get_dummies(geo_cepii_clean, columns=['continent'], drop_first=True)

In [ ]:
geo_cepii_clean

    iso3     area     dis_int  landlocked  ...        lat        lon  cap  maincity
0    AND      453    8.005398         0.0  ...  42.500000   1.500000    1         1
1    ARE    83657  108.788994         0.0  ...  24.466667  54.416668    1         1
2    AFG   652225  303.761353         1.0  ...  34.516666  69.199997    1         1
3    ATG      442    7.907605         0.0  ...  17.133333 -61.833332    1         1
4    AIA      102    3.798690         0.0  ...  18.216667 -63.066666    1         1
..   ...      ...         ...         ...  ...        ...        ...  ...       ...
233  ZAF  1219912  415.430206         0.0  ... -33.933334  18.466667    2         1
234  ZAF  1219912  415.430206         0.0  ... -25.730000  28.219999    1         0
235  ZMB   752614  326.302155         1.0  ... -15.466666  28.266666    1         1
236  ZAR  2345410  576.027466         0.0  ...  -4.300000  15.300000    1         1
237  ZWE   390759  235.119308         1.0  ... -17.833334  31.049999    1         1

[238 rows x 9 columns]

In [ ]:
# los continentes aparecen ya en el siguiente dataset
#geo_cepii_clean.drop(['continent_America', 'continent_Asia', 'continent_Europe', 'continent_No', 'continent_Pacific'], axis=1, inplace=True)

In [ ]:
#esta es la lista de paÃ­ses con la que nos vamos a quedar
countries = forcibly_displaced.loc[:, 'CountryOriginCode'].unique()

#mask = terrain_info.isocode.apply(lambda x: any(item for item in countries if item in x))
#terrain_info_clean = terrain_info[mask]
mask = geo_cepii_clean.iso3.isin(countries)
geo_cepii_clean_clean = geo_cepii_clean[mask]

In [ ]:
geo_cepii_clean
#Hay algunas columnas que estÃ¡n repetidas porque hacen referencia al mismo paÃ­s ( algunos datos en su interior hacen referencia a diferentes grandes ciudades: Brasilia y Sao Paulo, Sydney y Canberra...)

    iso3     area     dis_int  landlocked  ...        lat        lon  cap  maincity
0    AND      453    8.005398         0.0  ...  42.500000   1.500000    1         1
1    ARE    83657  108.788994         0.0  ...  24.466667  54.416668    1         1
2    AFG   652225  303.761353         1.0  ...  34.516666  69.199997    1         1
3    ATG      442    7.907605         0.0  ...  17.133333 -61.833332    1         1
4    AIA      102    3.798690         0.0  ...  18.216667 -63.066666    1         1
..   ...      ...         ...         ...  ...        ...        ...  ...       ...
233  ZAF  1219912  415.430206         0.0  ... -33.933334  18.466667    2         1
234  ZAF  1219912  415.430206         0.0  ... -25.730000  28.219999    1         0
235  ZMB   752614  326.302155         1.0  ... -15.466666  28.266666    1         1
236  ZAR  2345410  576.027466         0.0  ...  -4.300000  15.300000    1         1
237  ZWE   390759  235.119308         1.0  ... -17.833334  31.049999    1         1

[238 rows x 9 columns]

### terrain_info

In [ ]:
terrain_info

# En este primer pase, sÃ³lamente nos quedaremos con las columnas que se correspondan con alguna de los paÃ­ses de salida de los refugiados, detallado en el dataset forcibly_displaced

#El tratamiento que se va a hacer es el siguiente:
# La limpieza de los datos va a estar determinada por la relativa simplicidad de ser capaz de incorporarlos a un modelo relativamente sencillo,
# como complemento al resto de variables.
# Cosas que se ven a simple vista cuyo impacto va a ser relativamente pequeÃ±o (y que requieran de un tratamiento mayor para llevar a cabo satisfactoriamente), serÃ¡n eliminados
# [isonum], [country] info del paÃ­s que ya tenemos en [isocode]
# [rgdppc_2000], [rgdppc_1950_m], [rgdppc_1975_m], [rgdppc_2000_m], [rgdppc_1950_2000_m], [q_rule_law] a pesar de que parece info interesante, hay demasiados NaNs como para gestionarla correctamente
# [dist_slave....] demasiados NaNs y demasiado especÃ­fica quizÃ¡s. Para saber info de esclavos, tenemos [slave_exports]
# [cont_africa] todos los paÃ­ses de Ã¡frica presentan informaciÃ³n adicional unas columnas mÃ¡s adelante sobre en quÃ© lugar de Ã¡frica concreto se encuentran.
# [pop 1400] ni sÃ© lo que es ni me importa
# [european_descent] ni sÃ© lo que es ni me importa

#TRATAMIENTO DE NaNs
# [land_area] los paÃ­ses que tienen NaN es porque son pequeÃ±os: cambiamos los NaNs por 0
# [soil] paÃ­ses pequeÃ±os: se sustituye tambiÃ©n por 0
# [legor_...] hay 23 NaNs, y creo que son todos en los mismos paÃ­ses: vamos a sustituÃ­rlos todos por 0: de esta forma, le estamos diciendo a la red que ese paÃ­s no tiene ninguno de los regÃ­menes mencionados
# En resumen, los NaNs de estas 3 columnas recibirÃ¡n el mismo tratamiento: serÃ¡n reemplazadas por 0

#DESPUÃ‰S DE UN PREPROCESADO
# [rgdppc...] todas las columnas asociadas al PIB desaparecen despuÃ©s de aÃ±adir la columna [gdc]

    isocode  isonum  ...   pop_1400  european_descent
0       ABW     533  ...      614.0               NaN
1       AFG       4  ...  1870829.0               0.0
2       AGO      24  ...  1223208.0               2.0
3       AIA     660  ...        NaN               NaN
4       ALB       8  ...   200000.0             100.0
..      ...     ...  ...        ...               ...
229     WSM     882  ...    33072.0               NaN
230     YEM     887  ...  2250000.0               0.0
231     ZAF     710  ...   486527.0              18.0
232     ZMB     894  ...   348220.0               1.0
233     ZWE     716  ...   174110.0               1.0

[234 rows x 51 columns]

In [33]:
#esta es la lista de paÃ­ses con la que nos vamos a quedar
countries = forcibly_displaced.loc[:, 'CountryOriginCode'].unique()
countries

#mask = terrain_info.isocode.apply(lambda x: any(item for item in countries if item in x))
#terrain_info_clean = terrain_info[mask]
mask = terrain_info.isocode.isin(countries)
terrain_info_clean = terrain_info[mask]

In [34]:
#para las entries de los dineros que no son nulos, nos quedamos con el valor existente entre los dos que no sea nulo, o con la media si existen ambos
# los NaNs los dejamos estar por ahora
for index, row in terrain_info_clean.iterrows():
  if not pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000']) and not pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000_m']):
    terrain_info_clean.loc[index, 'gdp'] = (terrain_info_clean.loc[index, 'rgdppc_2000'] + terrain_info_clean.loc[index, 'rgdppc_2000_m']) / 2
  elif pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000']) and not pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000_m']):
    terrain_info_clean.loc[index, 'gdp'] = terrain_info_clean.loc[index, 'rgdppc_2000_m']
  elif not pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000']) and pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000_m']):
    terrain_info_clean.loc[index, 'gdp'] = terrain_info_clean.loc[index, 'rgdppc_2000']
  else:
    terrain_info_clean.loc[index, 'gdp'] = float("nan")

#calculamos las medias para cada una de las regiones: asignaremos estos valores a los NaNs de cada una de las regiones:
location = ['africa_region_n', 'africa_region_s', 'africa_region_w', 'africa_region_e', 'africa_region_c', 'cont_asia', 'cont_europe', 'cont_oceania', 'cont_north_america', 'cont_south_america']
mean = np.zeros(shape=len(location))
for i in range(len(mean)):
  mean[i] = np.nanmean(terrain_info_clean[terrain_info_clean.loc[:, location[i]] == 1].loc[:, 'gdp'])

#una vez ya tenemos las medias, las colocamos en este diccionario para asignar las medias:
# [africa_region_n, africa_region_s, africa_region_w, africa_region_e, africa_region_c, cont_asia, cont_europe, cont_oceania, cont_north_america, cont_south_america]
continent_dic = {tuple([1,0,0,0,0,0,0,0,0,0]): mean[0],
                 tuple([0,1,0,0,0,0,0,0,0,0]): mean[1],
                 tuple([0,0,1,0,0,0,0,0,0,0]): mean[2],
                 tuple([0,0,0,1,0,0,0,0,0,0]): mean[3],
                 tuple([0,0,0,0,1,0,0,0,0,0]): mean[4],
                 tuple([0,0,0,0,0,1,0,0,0,0]): mean[5],
                 tuple([0,0,0,0,0,0,1,0,0,0]): mean[6],
                 tuple([0,0,0,0,0,0,0,1,0,0]): mean[7],
                 tuple([0,0,0,0,0,0,0,0,1,0]): mean[8],
                 tuple([0,0,0,0,0,0,0,0,0,1]): mean[9]}

#volvemos a pasar por los gdp para colocar los valores obtenidos de las medias:
for index, row in terrain_info_clean.iterrows():
  if pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000']) and pd.isna(terrain_info_clean.loc[index, 'rgdppc_2000_m']):
    dic_entry = tuple([terrain_info_clean.loc[index, 'africa_region_n'], terrain_info_clean.loc[index, 'africa_region_s'], terrain_info_clean.loc[index, 'africa_region_w'], terrain_info_clean.loc[index, 'africa_region_e'],
                                                              terrain_info_clean.loc[index, 'africa_region_c'], terrain_info_clean.loc[index, 'cont_asia'], terrain_info_clean.loc[index, 'cont_europe'], terrain_info_clean.loc[index, 'cont_oceania'],
                                                              terrain_info_clean.loc[index, 'cont_north_america'], terrain_info_clean.loc[index, 'cont_south_america']])

    terrain_info_clean.loc[index, 'gdp'] = continent_dic[dic_entry]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [35]:
#eliminamos las columnas redundantes y llenamos los NaN de los elementos restantes con 0 (ya se ha argumentado antes el porquÃ© de esta decisiÃ³n)

terrain_info_clean.drop(['isonum', 'country', 'rgdppc_2000', 'rgdppc_1950_m', 'rgdppc_1975_m', 'rgdppc_2000_m', 'rgdppc_1950_2000_m', 'q_rule_law', 'dist_slavemkt_atlantic',
                         'dist_slavemkt_indian', 'dist_slavemkt_saharan', 'dist_slavemkt_redsea', 'pop_1400', 'european_descent'], axis=1, inplace=True)
terrain_info_clean.fillna(0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [36]:
# Normalizado de los datos de terrain_info_clean usando minmax
from sklearn import preprocessing
x = terrain_info_clean.iloc[:,1:].values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
terrain_info_norm = terrain_info_clean.copy()
terrain_info_norm.iloc[:, 1:] = x_scaled

In [37]:
terrain_info_norm

    isocode    rugged  rugged_popw  ...  africa_region_c  slave_exports       gdp
1       AFG  0.322106     0.218187  ...              0.0       0.000000  0.002214
2       AGO  0.109503     0.105819  ...              1.0       1.000000  0.014676
4       ALB  0.438525     0.237238  ...              0.0       0.000000  0.048541
5       AND  0.731814     1.000000  ...              0.0       0.000000  0.276827
7       ARE  0.098105     0.046584  ...              0.0       0.000000  0.325138
..      ...       ...          ...  ...              ...            ...       ...
229     WSM  0.214395     0.143623  ...              0.0       0.000000  0.077101
230     YEM  0.297131     0.326537  ...              0.0       0.000000  0.022061
231     ZAF  0.225154     0.195714  ...              0.0       0.000563  0.109154
232     ZMB  0.067879     0.074862  ...              0.0       0.007744  0.004733
233     ZWE  0.152536     0.164161  ...              0.0       0.000301  0.025722

[204 rows x 38 columns]