<a href="https://colab.research.google.com/github/vicentcamison/idal_ia3/blob/main/5%20Procesado%20del%20lenguaje%20natural/Sesion%203/NLP_09_Mineri%CC%81a_de_texto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minería de texto
Vamos a ver distintas técnicas de extracción de la información contenida en el texto, para convertirla en inf. estructurada.

In [ ]:
import spacy
import pandas as pd
from spacy import displacy

nlp = spacy.load("es_core_news_sm")

## Named Entity Recognition

In [ ]:
doc = nlp("El gran escritor Miguel de Cervantes nació en Alcalá de Henares")

In [ ]:
displacy.render(doc, style='ent', jupyter=True)

In [ ]:
entidades = [e for e in doc.ents]
entidades

[Miguel de Cervantes, Alcalá de Henares]

Cada entidad es un `span` de texto marcado con una etiqueta en los *tokens* (esquema `IOB`) y un tipo de entidad (propiedad `label` del `span`)

In [ ]:
type(entidades[0])

spacy.tokens.span.Span

In [ ]:
datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

        token    POS ent_iob ent_type
0          El    DET       O
1        gran    ADJ       O
2    escritor   NOUN       O
3      Miguel  PROPN       B      PER
4          de    ADP       I      PER
5   Cervantes  PROPN       I      PER
6       nació   VERB       O
7          en    ADP       O
8      Alcalá  PROPN       B      LOC
9          de    ADP       I      LOC
10    Henares  PROPN       I      LOC

In [ ]:
doc[entidades[0].start:entidades[0].end]

Miguel de Cervantes

In [ ]:
entidades[0].label_

'PER'

### Creación de nuevas entidades en spaCy
Podemos crear entidades nuevas con el componente `EntityRuler` del pipeline (https://spacy.io/api/entityruler)

In [ ]:
#Definimos "escritor" como profesión
#Nota: con el regex que se ha añadido, se detectará tanto 'escritor' como 'escritora'
ruler = nlp.add_pipe("entity_ruler")
patterns = [{"label": "PROFESION", "pattern": [{"LOWER": {"REGEX": "escritora?"}}]}]
ruler.add_patterns(patterns)

doc = nlp("El gran escritor Miguel de Cervantes nació en Alcalá de Henares")
print([(ent.text, ent.label_) for ent in doc.ents])

ValueError: [E007] 'entity_ruler' already exists in pipeline. Existing names: ['tok2vec', 'morphologizer', 'parser', 'senter', 'ner', 'attribute_ruler', 'lemmatizer', 'entity_ruler']

In [ ]:
datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

        token    POS ent_iob   ent_type
0          El    DET       O
1        gran    ADJ       O
2    escritor   NOUN       B  PROFESION
3      Miguel  PROPN       B        PER
4          de    ADP       I        PER
5   Cervantes  PROPN       I        PER
6       nació   VERB       O
7          en    ADP       O
8      Alcalá  PROPN       B        LOC
9          de    ADP       I        LOC
10    Henares  PROPN       I        LOC

Tal y como se puede comprobar en la tabla de arriba, el ent_iob sirve para ver dónde comienza y acaba cada entidad. Por ejemplo, Miguel de Cervantes lo detecta como una única entidad:
- **I**: Token is **inside** an entity
- **O**: Token is **outside** an entity
- **B**: Token is at the **beginning** of an entity

Podemos añadir nuevas profesiones

In [ ]:
patterns = [{"label": "PROFESION", "pattern": [{"LOWER": "matador"},{"LOWER": "de"},{"LOWER": "toros"}]}]
ruler.add_patterns(patterns)

doc = nlp("El padre de Miguel Bosé era el matador de toros Luis Miguel Dominguín")
print([(ent.text, ent.label_) for ent in doc.ents])

[('Miguel Bosé', 'PER'), ('matador de toros', 'PROFESION'), ('Luis Miguel Dominguín', 'PER')]

In [ ]:
datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

        token    POS ent_iob   ent_type
0          El    DET       O
1       padre   NOUN       O
2          de    ADP       O
3      Miguel  PROPN       B        PER
4        Bosé  PROPN       I        PER
5         era    AUX       O
6          el    DET       O
7     matador   NOUN       B  PROFESION
8          de    ADP       I  PROFESION
9       toros   NOUN       I  PROFESION
10       Luis  PROPN       B        PER
11     Miguel  PROPN       I        PER
12  Dominguín  PROPN       I        PER

In [ ]:
doc = nlp("Luis Miguel era matador de toros y Rosalía de Castro era escritora")
datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

        token    POS ent_iob   ent_type
0        Luis  PROPN       B        PER
1      Miguel  PROPN       I        PER
2         era    AUX       O
3     matador   NOUN       B  PROFESION
4          de    ADP       I  PROFESION
5       toros   NOUN       I  PROFESION
6           y  CCONJ       O
7     Rosalía  PROPN       B        PER
8          de    ADP       I        PER
9      Castro  PROPN       I        PER
10        era    AUX       O
11  escritora   VERB       B  PROFESION

In [ ]:
patterns = [{"label": "ANIMAL", "pattern": [{"LEMMA": "gato"},{"LEMMA": "montés", 'OP': '?'}]},
           {"label": "ANIMAL", "pattern": [{"LEMMA": "perro"}]}]
ruler.add_patterns(patterns)

doc = nlp("Gatos y perros son animales de compañía.")
print([(ent.text, ent.label_) for ent in doc.ents])

[('Gatos', 'ANIMAL'), ('perros', 'ANIMAL')]

In [ ]:
datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'lemma': t.lemma_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

      token    POS     lemma ent_iob ent_type
0     Gatos   NOUN      gato       B   ANIMAL
1         y  CCONJ         y       O
2    perros   NOUN     perro       B   ANIMAL
3       son    AUX       ser       O
4  animales   NOUN    animal       O
5        de    ADP        de       O
6  compañía   NOUN  compañía       O
7         .  PUNCT         .       O

In [ ]:
doc = nlp("El gato montés es más grande que los gatos callejeros")

datos = map(lambda t: {'token': t.orth_,
                       'POS': t.pos_,
                       'lemma': t.lemma_,
                       'ent_iob': t.ent_iob_,
                       'ent_type': t.ent_type_
                      }, doc)

pd.DataFrame(datos)

        token    POS      lemma ent_iob ent_type
0          El    DET         el       O
1        gato   NOUN       gato       B   ANIMAL
2      montés  PROPN     montés       I   ANIMAL
3          es    AUX        ser       O
4         más    ADV        más       O
5      grande    ADJ     grande       O
6         que  SCONJ        que       O
7         los    DET         el       O
8       gatos   NOUN       gato       B   ANIMAL
9  callejeros    ADJ  callejero       O

In [ ]:
print([(ent.text, ent.label_) for ent in doc.ents])

[('gato montés', 'ANIMAL'), ('gatos', 'ANIMAL')]

In [ ]:
doc = nlp("El escritor Miguel de Cervantes tenía un gato llamado Juan")
print([(ent.text, ent.label_) for ent in doc.ents])

[('escritor', 'PROFESION'), ('Miguel de Cervantes', 'PER'), ('gato', 'ANIMAL'), ('Juan', 'PER')]

## Entity linking
Usamos la API de DBPedia Spotlight (https://www.dbpedia-spotlight.org/api) para relacionar entidades propias del texto con entradas en la BBDD de conocomientos [dbpedia](http://dbpedia.org).

In [ ]:
import requests
from IPython.core.display import display, HTML
# An API Error Exception
class APIError(Exception):
    def __init__(self, status):
            self.status = status
    def __str__(self):
            return "APIError: status={}".format(self.status)
      
# Base URL for Spotlight API
base_url = "http://api.dbpedia-spotlight.org/en/annotate"
# Parameters 
# 'text' - text to be annotated 
# 'confidence' -   confidence score for linking
text = "The Space Shuttle was a partially reusable low Earth orbital spacecraft system operated from April 12, 1981, to July 21, 2011, by the National Aeronautics and Space Administration in the United States. Launched from the Kennedy Space Center in Florida, five Space Shuttle orbiter vehicles flew on a total of 135 missions during 30 years."

params = {"text": text, "confidence": 0.5}
# Response content type
headers = {'accept': 'text/html'}
# GET Request
res = requests.get(base_url, params=params, headers=headers)
if res.status_code != 200:
    # Something went wrong
    raise APIError(res.status_code)
# Display the result as HTML in Jupyter Notebook
display(HTML(res.text))

Tal y como se puede comprobar, con un umbral de **0.5** cosas como la NASA (National Aeronautics and Space Administration) no lo detect como entidad.
Subir el umbral hace que se detecten menos entidades, y bajar el umbral hace que se detecten más
Por ejemplo, probemos con **0.7** y con **0.3**:

In [ ]:
params = {"text": text, "confidence": 0.7}
# Response content type
headers = {'accept': 'text/html'}
# GET Request
res = requests.get(base_url, params=params, headers=headers)
if res.status_code != 200:
    # Something went wrong
    raise APIError(res.status_code)
# Display the result as HTML in Jupyter Notebook
display(HTML(res.text))

In [ ]:
params = {"text": text, "confidence": 0.3}
# Response content type
headers = {'accept': 'text/html'}
# GET Request
res = requests.get(base_url, params=params, headers=headers)
if res.status_code != 200:
    # Something went wrong
    raise APIError(res.status_code)
# Display the result as HTML in Jupyter Notebook
display(HTML(res.text))

In [ ]:
res.headers

{'Date': 'Fri, 07 May 2021 17:18:25 GMT', 'Server': 'grizzly/1.9.48', 'Access-Control-Allow-Origin': '*', 'Content-Type': 'text/html', 'Vary': 'Accept-Encoding', 'Content-Encoding': 'gzip', 'Content-Length': '814', 'Keep-Alive': 'timeout=5, max=100', 'Connection': 'Keep-Alive'}

In [ ]:
res.text

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">\n<html>\n<head>\n<title>DBpedia Spotlight annotation</title>\n<meta http-equiv="Content-type" content="text/html;charset=UTF-8">\n</head>\n<body>\n<div>\nThe <a href="http://dbpedia.org/resource/Space_Shuttle" title="http://dbpedia.org/resource/Space_Shuttle" target="_blank">Space Shuttle</a> was a <a href="http://dbpedia.org/resource/Reusable_launch_system" title="http://dbpedia.org/resource/Reusable_launch_system" target="_blank">partially reusable</a> low <a href="http://dbpedia.org/resource/Earth" title="http://dbpedia.org/resource/Earth" target="_blank">Earth</a> <a href="http://dbpedia.org/resource/Orbital_spaceflight" title="http://dbpedia.org/resource/Orbital_spaceflight" target="_blank">orbital</a> <a href="http://dbpedia.org/resource/Spacecraft" title="http://dbpedia.org/resource/Spacecraft" target="_blank">spacecraft</a> <a href="http://dbpedia.org/resource/System" title="http://dbpedia.org/resource/System" target="_blank">system</a> <a href="http://dbpedia.org/resource/Surgery" title="http://dbpedia.org/resource/Surgery" target="_blank">operated</a> from <a href="http://dbpedia.org/resource/April_12" title="http://dbpedia.org/resource/April_12" target="_blank">April 12</a>, 1981, to <a href="http://dbpedia.org/resource/July_21" title="http://dbpedia.org/resource/July_21" target="_blank">July 21</a>, 2011, by the <a href="http://dbpedia.org/resource/New_Zealand_National_Party" title="http://dbpedia.org/resource/New_Zealand_National_Party" target="_blank">National</a> <a href="http://dbpedia.org/resource/Aeronautics" title="http://dbpedia.org/resource/Aeronautics" target="_blank">Aeronautics</a> and <a href="http://dbpedia.org/resource/Outer_space" title="http://dbpedia.org/resource/Outer_space" target="_blank">Space</a> <a href="http://dbpedia.org/resource/Business_administration" title="http://dbpedia.org/resource/Business_administration" target="_blank">Administration</a> in the <a href="http://dbpedia.org/resource/United_States" title="http://dbpedia.org/resource/United_States" target="_blank">United States</a>. <a href="http://dbpedia.org/resource/Ceremonial_ship_launching" title="http://dbpedia.org/resource/Ceremonial_ship_launching" target="_blank">Launched</a> from the <a href="http://dbpedia.org/resource/Kennedy_Space_Center" title="http://dbpedia.org/resource/Kennedy_Space_Center" target="_blank">Kennedy Space Center</a> in <a href="http://dbpedia.org/resource/Florida" title="http://dbpedia.org/resource/Florida" target="_blank">Florida</a>, five <a href="http://dbpedia.org/resource/Space_Shuttle_orbiter" title="http://dbpedia.org/resource/Space_Shuttle_orbiter" target="_blank">Space Shuttle orbiter</a> <a href="http://dbpedia.org/resource/Vehicle" title="http://dbpedia.org/resource/Vehicle" target="_blank">vehicles</a> <a href="http://dbpedia.org/resource/Australia_and_the_Empire_Air_Training_Scheme" title="http://dbpedia.org/resource/Australia_and_the_Empire_Air_Training_Scheme" target="_blank">flew</a> on a <a href="http://dbpedia.org/resource/Solar_eclipse" title="http://dbpedia.org/resource/Solar_eclipse" target="_blank">total</a> of 135 <a href="http://dbpedia.org/resource/Military_operation" title="http://dbpedia.org/resource/Military_operation" target="_blank">missions</a> during 30 years.\n</div>\n</body>\n</html>'

Podemos hacer la petición en formato JSON, lo que devuelve más información para cada entidad detectada:

In [ ]:
headers = {'accept': 'application/json'}
# GET Request
res = requests.get(base_url, params=params, headers=headers)
if res.status_code != 200:
    # Something went wrong
    raise APIError(res.status_code)
# Display the result as HTML in Jupyter Notebook
respuesta = res.json()
respuesta

{'@text': 'The Space Shuttle was a partially reusable low Earth orbital spacecraft system operated from April 12, 1981, to July 21, 2011, by the National Aeronautics and Space Administration in the United States. Launched from the Kennedy Space Center in Florida, five Space Shuttle orbiter vehicles flew on a total of 135 missions during 30 years.',
 '@confidence': '0.3',
 '@support': '0',
 '@types': '',
 '@sparql': '',
 '@policy': 'whitelist',
 'Resources': [{'@URI': 'http://dbpedia.org/resource/Space_Shuttle',
   '@support': '5777',
   '@types': 'Wikidata:Q41291,DBpedia:MeanOfTransportation,DBpedia:Rocket',
   '@surfaceForm': 'Space Shuttle',
   '@offset': '4',
   '@similarityScore': '0.8328158026333504',
   '@percentageOfSecondRank': '0.20065367572673085'},
  {'@URI': 'http://dbpedia.org/resource/Reusable_launch_system',
   '@support': '411',
   '@types': '',
   '@surfaceForm': 'partially reusable',
   '@offset': '24',
   '@similarityScore': '1.0',
   '@percentageOfSecondRank': '0.0'},
  {'@URI': 'http://dbpedia.org/resource/Earth',
   '@support': '39464',
   '@types': 'Wikidata:Q634,Schema:Place,DBpedia:Place,DBpedia:Location,DBpedia:CelestialBody,DBpedia:Planet',
   '@surfaceForm': 'Earth',
   '@offset': '47',
   '@similarityScore': '0.9999996999217042',
   '@percentageOfSecondRank': '2.9994956205765455E-7'},
  {'@URI': 'http://dbpedia.org/resource/Orbital_spaceflight',
   '@support': '445',
   '@types': '',
   '@surfaceForm': 'orbital',
   '@offset': '53',
   '@similarityScore': '0.9926678521739385',
   '@percentageOfSecondRank': '0.007318660649155427'},
  {'@URI': 'http://dbpedia.org/resource/Spacecraft',
   '@support': '6197',
   '@types': '',
   '@surfaceForm': 'spacecraft',
   '@offset': '61',
   '@similarityScore': '0.9978066732515668',
   '@percentageOfSecondRank': '0.002195252535406448'},
  {'@URI': 'http://dbpedia.org/resource/System',
   '@support': '10090',
   '@types': '',
   '@surfaceForm': 'system',
   '@offset': '72',
   '@similarityScore': '0.9988176913781831',
   '@percentageOfSecondRank': '8.351504002860814E-4'},
  {'@URI': 'http://dbpedia.org/resource/Surgery',
   '@support': '8457',
   '@types': '',
   '@surfaceForm': 'operated',
   '@offset': '79',
   '@similarityScore': '0.6365472027733461',
   '@percentageOfSecondRank': '0.16482744907193844'},
  {'@URI': 'http://dbpedia.org/resource/April_12',
   '@support': '878',
   '@types': '',
   '@surfaceForm': 'April 12',
   '@offset': '93',
   '@similarityScore': '0.9999999415026098',
   '@percentageOfSecondRank': '5.849675822718066E-8'},
  {'@URI': 'http://dbpedia.org/resource/July_21',
   '@support': '862',
   '@types': '',
   '@surfaceForm': 'July 21',
   '@offset': '112',
   '@similarityScore': '0.9999894072000753',
   '@percentageOfSecondRank': '1.0292292738519437E-5'},
  {'@URI': 'http://dbpedia.org/resource/New_Zealand_National_Party',
   '@support': '3854',
   '@types': 'Wikidata:Q7278,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,DBpedia:Organisation,DBpedia:Agent,DBpedia:PoliticalParty',
   '@surfaceForm': 'National',
   '@offset': '134',
   '@similarityScore': '0.5320702517874208',
   '@percentageOfSecondRank': '0.7338741147812001'},
  {'@URI': 'http://dbpedia.org/resource/Aeronautics',
   '@support': '1069',
   '@types': '',
   '@surfaceForm': 'Aeronautics',
   '@offset': '143',
   '@similarityScore': '0.9999787320110027',
   '@percentageOfSecondRank': '1.2703387894897682E-5'},
  {'@URI': 'http://dbpedia.org/resource/Outer_space',
   '@support': '4506',
   '@types': '',
   '@surfaceForm': 'Space',
   '@offset': '159',
   '@similarityScore': '0.9959190110782483',
   '@percentageOfSecondRank': '0.0040977108677569965'},
  {'@URI': 'http://dbpedia.org/resource/Business_administration',
   '@support': '3217',
   '@types': '',
   '@surfaceForm': 'Administration',
   '@offset': '165',
   '@similarityScore': '0.5605804770009665',
   '@percentageOfSecondRank': '0.32879669040891485'},
  {'@URI': 'http://dbpedia.org/resource/United_States',
   '@support': '553243',
   '@types': 'Wikidata:Q6256,Schema:Place,Schema:Country,DBpedia:PopulatedPlace,DBpedia:Place,DBpedia:Location,DBpedia:Country',
   '@surfaceForm': 'United States',
   '@offset': '187',
   '@similarityScore': '0.9999902069064087',
   '@percentageOfSecondRank': '5.3338384727637225E-6'},
  {'@URI': 'http://dbpedia.org/resource/Ceremonial_ship_launching',
   '@support': '9605',
   '@types': '',
   '@surfaceForm': 'Launched',
   '@offset': '202',
   '@similarityScore': '0.9999976795634417',
   '@percentageOfSecondRank': '2.2887640436218316E-6'},
  {'@URI': 'http://dbpedia.org/resource/Kennedy_Space_Center',
   '@support': '2083',
   '@types': 'Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,DBpedia:Agent,DBpedia:Organisation',
   '@surfaceForm': 'Kennedy Space Center',
   '@offset': '220',
   '@similarityScore': '0.999999973114598',
   '@percentageOfSecondRank': '2.6885412490420064E-8'},
  {'@URI': 'http://dbpedia.org/resource/Florida',
   '@support': '96204',
   '@types': 'Wikidata:Q3455524,Schema:Place,Schema:AdministrativeArea,DBpedia:Region,DBpedia:PopulatedPlace,DBpedia:Place,DBpedia:Location,DBpedia:AdministrativeRegion',
   '@surfaceForm': 'Florida',
   '@offset': '244',
   '@similarityScore': '0.9999397770575329',
   '@percentageOfSecondRank': '4.802580496319042E-5'},
  {'@URI': 'http://dbpedia.org/resource/Space_Shuttle_orbiter',
   '@support': '462',
   '@types': '',
   '@surfaceForm': 'Space Shuttle orbiter',
   '@offset': '258',
   '@similarityScore': '1.0',
   '@percentageOfSecondRank': '0.0'},
  {'@URI': 'http://dbpedia.org/resource/Vehicle',
   '@support': '4204',
   '@types': '',
   '@surfaceForm': 'vehicles',
   '@offset': '280',
   '@similarityScore': '0.9675053509064248',
   '@percentageOfSecondRank': '0.011004677765132358'},
  {'@URI': 'http://dbpedia.org/resource/Australia_and_the_Empire_Air_Training_Scheme',
   '@support': '83',
   '@types': '',
   '@surfaceForm': 'flew',
   '@offset': '289',
   '@similarityScore': '0.9999857240887124',
   '@percentageOfSecondRank': '0.0'},
  {'@URI': 'http://dbpedia.org/resource/Solar_eclipse',
   '@support': '4161',
   '@types': '',
   '@surfaceForm': 'total',
   '@offset': '299',
   '@similarityScore': '0.9771285742422754',
   '@percentageOfSecondRank': '0.02334048142433919'},
  {'@URI': 'http://dbpedia.org/resource/Military_operation',
   '@support': '1641',
   '@types': '',
   '@surfaceForm': 'missions',
   '@offset': '312',
   '@similarityScore': '0.6945994707038791',
   '@percentageOfSecondRank': '0.3507493116544678'}]}

La respuesta JSON se puede iterar como un diccionario de claves-valores:

In [ ]:
for key, value in respuesta.items():
    print(f"{key} : {value}\n")

@text : The Space Shuttle was a partially reusable low Earth orbital spacecraft system operated from April 12, 1981, to July 21, 2011, by the National Aeronautics and Space Administration in the United States. Launched from the Kennedy Space Center in Florida, five Space Shuttle orbiter vehicles flew on a total of 135 missions during 30 years.

@confidence : 0.3

@support : 0

@types :

@sparql :

@policy : whitelist

Resources : [{'@URI': 'http://dbpedia.org/resource/Space_Shuttle', '@support': '5777', '@types': 'Wikidata:Q41291,DBpedia:MeanOfTransportation,DBpedia:Rocket', '@surfaceForm': 'Space Shuttle', '@offset': '4', '@similarityScore': '0.8328158026333504', '@percentageOfSecondRank': '0.20065367572673085'}, {'@URI': 'http://dbpedia.org/resource/Reusable_launch_system', '@support': '411', '@types': '', '@surfaceForm': 'partially reusable', '@offset': '24', '@similarityScore': '1.0', '@percentageOfSecondRank': '0.0'}, {'@URI': 'http://dbpedia.org/resource/Earth', '@support': '39464', '@types': 'Wikidata:Q634,Schema:Place,DBpedia:Place,DBpedia:Location,DBpedia:CelestialBody,DBpedia:Planet', '@surfaceForm': 'Earth', '@offset': '47', '@similarityScore': '0.9999996999217042', '@percentageOfSecondRank': '2.9994956205765455E-7'}, {'@URI': 'http://dbpedia.org/resource/Orbital_spaceflight', '@support': '445', '@types': '', '@surfaceForm': 'orbital', '@offset': '53', '@similarityScore': '0.9926678521739385', '@percentageOfSecondRank': '0.007318660649155427'}, {'@URI': 'http://dbpedia.org/resource/Spacecraft', '@support': '6197', '@types': '', '@surfaceForm': 'spacecraft', '@offset': '61', '@similarityScore': '0.9978066732515668', '@percentageOfSecondRank': '0.002195252535406448'}, {'@URI': 'http://dbpedia.org/resource/System', '@support': '10090', '@types': '', '@surfaceForm': 'system', '@offset': '72', '@similarityScore': '0.9988176913781831', '@percentageOfSecondRank': '8.351504002860814E-4'}, {'@URI': 'http://dbpedia.org/resource/Surgery', '@support': '8457', '@types': '', '@surfaceForm': 'operated', '@offset': '79', '@similarityScore': '0.6365472027733461', '@percentageOfSecondRank': '0.16482744907193844'}, {'@URI': 'http://dbpedia.org/resource/April_12', '@support': '878', '@types': '', '@surfaceForm': 'April 12', '@offset': '93', '@similarityScore': '0.9999999415026098', '@percentageOfSecondRank': '5.849675822718066E-8'}, {'@URI': 'http://dbpedia.org/resource/July_21', '@support': '862', '@types': '', '@surfaceForm': 'July 21', '@offset': '112', '@similarityScore': '0.9999894072000753', '@percentageOfSecondRank': '1.0292292738519437E-5'}, {'@URI': 'http://dbpedia.org/resource/New_Zealand_National_Party', '@support': '3854', '@types': 'Wikidata:Q7278,Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,DBpedia:Organisation,DBpedia:Agent,DBpedia:PoliticalParty', '@surfaceForm': 'National', '@offset': '134', '@similarityScore': '0.5320702517874208', '@percentageOfSecondRank': '0.7338741147812001'}, {'@URI': 'http://dbpedia.org/resource/Aeronautics', '@support': '1069', '@types': '', '@surfaceForm': 'Aeronautics', '@offset': '143', '@similarityScore': '0.9999787320110027', '@percentageOfSecondRank': '1.2703387894897682E-5'}, {'@URI': 'http://dbpedia.org/resource/Outer_space', '@support': '4506', '@types': '', '@surfaceForm': 'Space', '@offset': '159', '@similarityScore': '0.9959190110782483', '@percentageOfSecondRank': '0.0040977108677569965'}, {'@URI': 'http://dbpedia.org/resource/Business_administration', '@support': '3217', '@types': '', '@surfaceForm': 'Administration', '@offset': '165', '@similarityScore': '0.5605804770009665', '@percentageOfSecondRank': '0.32879669040891485'}, {'@URI': 'http://dbpedia.org/resource/United_States', '@support': '553243', '@types': 'Wikidata:Q6256,Schema:Place,Schema:Country,DBpedia:PopulatedPlace,DBpedia:Place,DBpedia:Location,DBpedia:Country', '@surfaceForm': 'United States', '@offset': '187', '@similarityScore': '0.9999902069064087', '@percentageOfSecondRank': '5.3338384727637225E-6'}, {'@URI': 'http://dbpedia.org/resource/Ceremonial_ship_launching', '@support': '9605', '@types': '', '@surfaceForm': 'Launched', '@offset': '202', '@similarityScore': '0.9999976795634417', '@percentageOfSecondRank': '2.2887640436218316E-6'}, {'@URI': 'http://dbpedia.org/resource/Kennedy_Space_Center', '@support': '2083', '@types': 'Wikidata:Q43229,Wikidata:Q24229398,DUL:SocialPerson,DUL:Agent,Schema:Organization,DBpedia:Agent,DBpedia:Organisation', '@surfaceForm': 'Kennedy Space Center', '@offset': '220', '@similarityScore': '0.999999973114598', '@percentageOfSecondRank': '2.6885412490420064E-8'}, {'@URI': 'http://dbpedia.org/resource/Florida', '@support': '96204', '@types': 'Wikidata:Q3455524,Schema:Place,Schema:AdministrativeArea,DBpedia:Region,DBpedia:PopulatedPlace,DBpedia:Place,DBpedia:Location,DBpedia:AdministrativeRegion', '@surfaceForm': 'Florida', '@offset': '244', '@similarityScore': '0.9999397770575329', '@percentageOfSecondRank': '4.802580496319042E-5'}, {'@URI': 'http://dbpedia.org/resource/Space_Shuttle_orbiter', '@support': '462', '@types': '', '@surfaceForm': 'Space Shuttle orbiter', '@offset': '258', '@similarityScore': '1.0', '@percentageOfSecondRank': '0.0'}, {'@URI': 'http://dbpedia.org/resource/Vehicle', '@support': '4204', '@types': '', '@surfaceForm': 'vehicles', '@offset': '280', '@similarityScore': '0.9675053509064248', '@percentageOfSecondRank': '0.011004677765132358'}, {'@URI': 'http://dbpedia.org/resource/Australia_and_the_Empire_Air_Training_Scheme', '@support': '83', '@types': '', '@surfaceForm': 'flew', '@offset': '289', '@similarityScore': '0.9999857240887124', '@percentageOfSecondRank': '0.0'}, {'@URI': 'http://dbpedia.org/resource/Solar_eclipse', '@support': '4161', '@types': '', '@surfaceForm': 'total', '@offset': '299', '@similarityScore': '0.9771285742422754', '@percentageOfSecondRank': '0.02334048142433919'}, {'@URI': 'http://dbpedia.org/resource/Military_operation', '@support': '1641', '@types': '', '@surfaceForm': 'missions', '@offset': '312', '@similarityScore': '0.6945994707038791', '@percentageOfSecondRank': '0.3507493116544678'}]

Además podemos acceder directamente a una clave o a una clave anidada:

In [ ]:
respuesta['@text']

'The Space Shuttle was a partially reusable low Earth orbital spacecraft system operated from April 12, 1981, to July 21, 2011, by the National Aeronautics and Space Administration in the United States. Launched from the Kennedy Space Center in Florida, five Space Shuttle orbiter vehicles flew on a total of 135 missions during 30 years.'

In [ ]:
type(respuesta['Resources'])

list

In [ ]:
respuesta['Resources'][0]['@URI']

'http://dbpedia.org/resource/Space_Shuttle'

# Extracción de palabras clave
Usamos la librería `textacy` sobre `spaCy` (https://textacy.readthedocs.io/en/latest/). \
Instalamos con:
```
conda install -c conda-forge textacy
```

In [ ]:
with open('articulo.txt', 'r') as f:
    texto = f.read()
    
texto

'La Policía Nacional, en colaboración con la policía marroquí, ha desarticulado una "importante y peligrosa" célula del Estado Islámico (ISIS, en sus siglas en inglés) que pretendía impulsar atentados yihadistas en España y en otros países de Europa: "Tenía como objetivo materializar la estrategia de la organización terrorista en occidente", aseguran fuentes de la investigación, que aseguran que estaban en contacto con yihadistas ubicados en Siria. Los agentes de la Comisaría General de Información (CGI) y los de la Dirección General de Vigilancia del Territorio del Reino de Marruecos (DGST) han detenido en total a cinco personas, dos en España, en las localidades de Lorca (Murcia) y Abadiño (Bizkaia); y otras tres en Marruecos, que integraban la red de la organización terrorista.'

In [ ]:
doc = nlp(texto)

In [ ]:
len(doc)

148

In [ ]:
from textacy.extract import keyterms as kt
#https://textacy.readthedocs.io/en/latest/api_reference/extract.html#keyterms

In [ ]:
kt.textrank(doc, normalize="lemma", topn=10)

[('atentado yihadista', 0.024277581688875352),
 ('yihadista ubicado', 0.022993375155304988),
 ('organización terrorista', 0.019293287969168793),
 ('policía marroquí', 0.01655092427910999),
 ('Policía Nacional', 0.01655092427910999),
 ('Marruecos', 0.013426001804612698),
 ('España', 0.010335310756957202),
 ('objetivo', 0.010071860790802918),
 ('persona', 0.008953298332459406),
 ('Islámico', 0.008799611873242349)]

In [ ]:
kt.textrank(doc, normalize="lower", topn=10)

[('atentados yihadistas', 0.023920483241090973),
 ('yihadistas ubicados', 0.022783778625400142),
 ('policía nacional', 0.019458089819428884),
 ('policía marroquí', 0.019458089819428884),
 ('organización terrorista', 0.01927156573993427),
 ('marruecos', 0.013310520633285614),
 ('españa', 0.010349544701617894),
 ('objetivo', 0.009858232010108544),
 ('personas', 0.008780788680023245),
 ('islámico', 0.008563872991708348)]

In [ ]:
kt.sgrank(doc, normalize="lower", topn=0.1)

[('organización terrorista', 0.460942936743379),
 ('yihadistas ubicados', 0.19821659390486374),
 ('policía marroquí', 0.04730287324545998),
 ('atentados yihadistas', 0.046543802059051204),
 ('policía nacional', 0.037396076179293546)]

In [ ]:
#con un texto más largo
with open('cañas y barro.txt', 'r') as f:
    texto = f.read()

FileNotFoundError: [Errno 2] No such file or directory: 'cañas y barro.txt'

In [ ]:
doc = nlp(texto)

In [ ]:
kt.sgrank(doc, normalize="lower", topn=10)